body{
  background-image: url(https://s3.amazonaws.com/media-p.slid.es/uploads/icaroheimig-1/images/744902/washido.fw.png);
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
}
@media only screen and (max-width: 350px) {
   body { font-size: 0.81em; }
}

@media only screen and (max-width: 287px) {
   body { font-size: 0.7em; }
}

@media only screen and (max-width: 250px) {
   body { font-size: 0.4em; }
}

@media only screen and (min-width: 768px) {
   .user-wrap {
      float: right;
      margin: 15px 55px 0 0;
   }
}

.recomendacao-wrap{
  display: none;
}

.recomendacao-visible .recomendacao-wrap{
  display: block;
}


body {
  background-color: #f4f4f4;
  color: #0E0E0E;

  margin: 0;
  padding:0;
  text-align: center;
  height:100%;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#header {
  height: 70px;
}

#content {
  margin: 0;
  text-align: center;

  padding:1px;
  padding-bottom:60px;   /* Height of the footer element */
}

#footer {
  width:100%;
  height:60px;
  position:absolute;
  bottom:0;
  left:0;
  background:#000;
}

.recomendacao-wrap {
 /* display: none; */
  overflow: scroll;
  margin-top: 1%;
  margin-left: 1%;
  width: 98%;
  position: absolute;
  z-index: 990;
  height: 96%;
  -webkit-box-shadow: -1px 0px 30px 0px rgba(55, 50, 50, 0.75);
  -moz-box-shadow:    -1px 0px 30px 0px rgba(55, 50, 50, 0.75);
  box-shadow:         -1px 0px 30px 0px rgba(55, 50, 50, 0.75);

  background-color: rgba(255, 255, 255, 0.92)
}

.user-wrap {
  background-color: rgb(59, 89, 152);
  color: #fff;
  height: 45px;
  text-align: left; 
  padding: 0 10px 0 5px; 
  box-shadow: -1px 0px 3px 0px rgba(55, 50, 50, 0.75);
}

.user-img-wrap {
  width: 45px;
  display: inline-block;
}

.user-wrap div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.user-opcoes-wrap {
  text-align: center; 
  float: right;
}

.user-opcoes-wrap a {
  color: #fff;
}

a {
  text-decoration: none;
}

.sobre {
  display: inline-block;
  text-align: left;
  text-align: justify;
  margin-bottom: 3%;
}
.sobre img {
  display: inline-block;
  float: right;
  width:41.66%;
  margin-left:2rem;
  margin: 10px 20px 10px 20px;
}
.title {
  margin-top: 8%;
  font-size: 45px;
}
.h2-sobre {
  text-align: left;
  margin-left: 15px;
  font-weight: bold;
  font-size: 25px;
}
.p-sobre {
  margin-left: 15px;
  margin-right: 15px;
}
.title-sobre {
  margin-left: 10%;
  text-align: left;
  font-size: 45px;
}
.title-sobre a {
  color: #0E0E0E;
}

.fa-music.disabled, .fa-filme.disabled, .fa-book.disabled{
  background-color: #999;
  border-color: #999;
}

.fa-music, .fa-film, .fa-book {
  color: #444444;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.div-music {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 100px;
  border-color: #53A9FF;
  background-color: #53A9FF;
  
  -webkit-font-smoothing: antialiased;
  background-color: rgb(83, 169, 255);
  border-bottom-color: rgb(83, 169, 255);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(83, 169, 255);
  border-left-style: solid;
  border-left-width: 6px;
  border-right-color: rgb(83, 169, 255);
  border-right-style: solid;
  border-right-width: 6px;
  border-top-color: rgb(83, 169, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 6px;
}

.div-book {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 100px;
  border-color: #53A9FF;
  background-color: #53A9FF;
  
  -webkit-font-smoothing: antialiased;
  background-color: rgb(27, 205, 53);
  border-bottom-color: rgb(27, 205, 53);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(27, 205, 53);
  border-left-style: solid;
  border-left-width: 6px;
  border-right-color: rgb(27, 205, 53);
  border-right-style: solid;
  border-right-width: 6px;
  border-top-color: rgb(27, 205, 53);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 6px;
}

.div-film {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 100px;
  border-color: #53A9FF;
  background-color: #53A9FF;
  
  -webkit-font-smoothing: antialiased;
  background-color: rgb(255, 91, 91);
  border-bottom-color: rgb(255, 91, 91);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 91, 91);
  border-left-style: solid;
  border-left-width: 6px;
  border-right-color: rgb(255, 91, 91);
  border-right-style: solid;
  border-right-width: 6px;
  border-top-color: rgb(255, 91, 91);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top-style: solid;
  border-top-width: 6px;
}

.film-center {
  text-align: center;
}

.footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  width:100%;
}
.footer-data {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}
.footer-itens, .footer-itens{
  display: inline-block;
  margin: 1px 5px 1px 5px;
  vertical-align: middle;
}
.footer-itens a {color:#fff;  line-height: 34px;}
.footer-itens.img {
  margin-left: 10px;
}
#contact {
  display: block;
  width: 90%;
  height: 100%;
  z-index: 900;
  opacity: .97;
  pointer-events: all;
}
#contact header .close:hover {
  background-position: right -13px;
}
#contact a {
  color: #262626;
  text-decoration: none;
}
#contact a:hover {
color: #767676;
}
#contact .big-dot {
margin-top: 80px;
}
#contact fieldset {
border: 0;
padding-top: 38px;;
}
#contact .success {
display: none;
padding-top: 38px;
padding-left: 136px;
}
#contact .field {
position: relative;
float: left;
width: 100%;
padding-bottom: 41px;
}
#contact .contact-name {
width: 100%;
}
#contact .contact-email {
width: 100%;
}
#contact label {
position: absolute;
bottom: 11px;
padding-left: 13px;
font-family: "alternate-gothic-no-2-d", sans-serif;
font-size: 1.125em;
text-transform: uppercase;
}
#contact input,
#contact textarea {
display: inline-block;
width: 100%;
padding: 4px 0 8px 11px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
color: #5f5f5f;
font-family: "ff-tisa-web-pro", serif;
font-size: 1.3125em;
line-height: 1.714285714em;
background: url(../../img/contact-textarea-bg.gif) no-repeat;
border: none;
border-bottom: 1px solid #b2b2b2;
}
#contact textarea {
height: 180px;
resize: none;
}
#contact input:focus,
#contact textarea:focus {
outline: none;
}
.menu-sobre{
text-align: left;
}
.importing-layer{
background-color: rgba(51, 51, 51, 0.7);
position: fixed;
height: 100%;
display: none;
width: 100%;
padding: 20% 0px;
z-index: 999;
color: #FFF;
}
.has-loader .importing-layer{
display: block;
}
.result-wrap{
position: fixed;
width: 100%;

}
.result{
display: none;
max-width: 350px;
margin: 0 auto;
margin-top: 10%;
background-color: rgba(51, 51, 51, 0.7);
color: #FFF;
padding: 20px;
border-radius: 10px;
text-align: left;
}
.result.visible{
display: block;
}


.img-circle{
  border-radius: 100%;
  border: 4px solid #FFF;
  height: 150px;
  width: 150px;
  margin: 20px;

}

.quem-somos{
  text-align: left;
}

.text-right{
  text-align: right;
}
.about-title{
  padding-top: 20px;
  color: #828282;
  border-bottom: 1px solid #828282;
}

.btn-face {
  float: right;
  margin-right: 5%;
}

.align-center{
  text-align: center; 
}

.align-left {
  text-align: left;
}

.recomendacao-title {
  margin: 50px 0 50px 50px;
  padding: 0;
  color: #828282;
}

.recomendacao {
  width: 85%;
  margin: 0 20px 30px 20px;
  display: inline-block;
}
.recomendacao-filme-titulo {
  width: 95%;
  border-bottom: 1px solid #555;
  font-size: 30px;
  color: #555;
}

.recomendacao-filme-ano {
  margin-left: 12px;
  font-size: 0.5em; 
  color: #555;      
}

.recomendacao-filme-conteudo {
  margin: 0 20px 0 20px;
}

.recomendacao-filme-img {
  width: 150px;
  float: left;
  margin-right: 20px;
}

.filme-descricao {
  margin-bottom: 30px;
}

.blueButton{
  background:#4f6aa3;
  border:1px solid #29447e;
  border-bottom-color:#1a356e;
  box-shadow:0 1px 0 rgba(0, 0, 0, .1);
  cursor:pointer;
  display:-moz-inline-box;
  display:inline-block;
  font-size: 11px;
  font-weight:bold;
  line-height:normal !important;
  padding:2px 6px;
  text-align:center;
  text-decoration:none;
  vertical-align:top;
  white-space:nowrap;
  color:#fff; 
}
.blueButton:active{
  background:#4f6aa3;
  border-bottom-color:#999;
}
.blueButton .blueButtonText,.blueButton input{
  background:none;
  border:0;
  color:#fff;
  cursor:pointer;
  display:-moz-inline-box;
  display:inline-block;
  font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight:bold;
  margin:0;
  outline:none;
  padding:1px 0 2px;
  white-space:nowrap
}

#btn-fechar {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;

  border: 1px solid #fff;
  background:black;
  height:15px;
  width:15px;
  -moz-border-radius:64px;
  -webkit-border-radius:64px;
  font-weight: bold;

  padding:5px;
  text-align:center;
  color:white;

  box-shadow:2px 1px 2px rgba(0, 0, 0, .7);
}

.contato {
  margin: 0 auto;
}
