<div class="footer-data pure-u-1 pure-u-sm-7-8 pure-u-md-3-4">
  <div class="footer-itens pure-u-md-1-6"><a href="/sobre">Sobre</a></div>  
  <div class="footer-itens pure-u-md-1-6"><a href="/quem-somos">Quem Somos</a></div>
  <div class="footer-itens pure-u-md-1-4"><a href="/politica-de-privacidade">Política de Privacidade</a></div>
  <div class="footer-itens pure-u-md-1-8 menu-contato"><a href="/contato">Contato</a></div>
  <div class="footer-itens pure-u-md-1-8">
    <a href="https://www.facebook.com/pages/Washido/400674650079568" target="_blank">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>
    <!-- <a href="" target="_blank">
      <i class="fa fa-twitter-square fa-2x"></i>
    </a> -->
    <a href="https://github.com/washido/" target="_blank">
      <i class="fa fa-github-square fa-2x"></i>
    </a>
  </div>
</div>